# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Light.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Chris\Desktop\Light\.idea\.idea.Light\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
